.divConteiner{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    
    "item1 item2"
    "item1 item2"
    
    ;
    .item1{
        grid-area: item1;
        margin: 30px;
    }
    .item2{
        grid-area: item2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        .tituloDietetica{
            font-family: $fuente;
            font-size: 3rem;
        }
        .parrafoDietetica{
            font-family: $fuente;
            font-size: 19px;
        }
        .listaDietetica{
            @extend .parrafoDietetica;
        }
        }    
    }