footer{
    background-color: $verde;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 113px;
    a{
        margin: 0px 10px 0px 10px;
    }
}